table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

#button-cadastrar {
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: flex; /* Exibição inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 12px; /* Bordas arredondadas */
    align-self: center;
    margin-bottom: 20px; /* Espaçamento inferior */
    justify-self: center
}

button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}